

header {
	background-color: #303030;
	color: white;
	text-align: left;
}

main {
	text-align: center;
}

footer	 {
	background-color: blueviolet;
	color: white;
	text-align: center;
}


/*esto va a ser el contenido principal de la pagina web
*/
body {
    background-color: bisque; 
    color: blue; 
}

 .pelicula{
	background-color: darkgoldenrod; 
    color: gold; 

} 

.pelicula p{
	font-weight: bold;
}


article{
	background-color: darkgray; 
}

.pelisCartelera{
    
        border: 20px solid black; /* Borde sólido negro de 2px */
        margin: 10px; /* Márgenes de 10px en todos los lados */
        /*padding: 50px; /* Relleno de 5px dentro del borde */
        /* Otras propiedades de estilo */
    
}