/*
ARCHIVO: plantilla.php
         css de la plantilla como tal que se va a estar compartiendo en todas las paginas del proyecto
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background-color: #333; /* Cambia esto al color que desees */
    color: white;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

main {
	text-align: center;
}

footer {
    font-weight: bold;
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Alineación centrada */
    width: 100%;
    height: 180px;
    position: relative;
    bottom: 0;
}

h1 {
    padding-top: 20px;
}

/* Estilo para el texto principal del footer */
footer h3 {
    font-size: 20px;
    margin-bottom: 10px; 
    padding-top: 20px;
}

/* Estilo para los enlaces del footer */
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

/* Estilo para los enlaces del footer al pasar el ratón */
footer a:hover {
    color:deepskyblue;
}

body {
    margin-top: 60px;
    background-color:rgb(115, 176, 228); 
    color: black; 
    padding: 10px 20px;
}

article{
	background-color: rgb(115, 176, 228) 
}

/*
ARCHIVO: cabecera.php:
    LogUserButton = boton de arriba que dice Logearse
    RegisterUserButton = boton de arriba que dice Registrarse. Tambien lo he utilizado en administracion.php y en formularioPelicula.php

*/

.LogUserButton {
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    padding: 5px 20px;
    text-decoration: none;
    color: #333;
    background-color: beige;
    border: 2px solid burlywood;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.LogUserButton:hover {
    background-color: burlywood;
}

.RegisterUserButton {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    background-color: #4CAF50;
    border: 2px solid #266d2a;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.RegisterUserButton:hover {
    background-color: #266d2a;
}

.ExitUserButton {
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    background-color: crimson;
    border: 2px solid darkred;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ExitUserButton:hover {
    background-color: darkred;
}

.adminMod {
    margin-right: 1%;
    margin-top: 1%;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    background-color: #4CAF50;
    border: 2px solid #266d2a;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.adminMod:hover {
    background-color: #266d2a;
}

.adminDelete {
    margin-right: 4%;
    margin-top: 1%;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    background-color: crimson;
    border: 2px solid darkred;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.adminDelete:hover {
    background-color: darkred;
}


.fotoElmoCines {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.fotoElmo{
    margin-right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {

    .fotoElmoCines {
        display: none;
    }

    .fotoElmo img {
        width: 50px;
        height: auto;
    }

    .ExitUserButton, .RegisterUserButton, .LogUserButton, .botonFormulario {
        padding: 2px 8px;
        font-size: 10px;
        margin-right: 10%;
        margin-top: 1%;
    }

    .pelicula p {
        font-size: 50%;
    }

    .Formulario input {
        font-size: 50%;
    }

    .Formulario {
        font-size: 50%;
        margin: 25px auto;
        padding: 10px;
    }

    .Formulario div {
        margin-top: 5px;
        align-items: center;
    }

    .Formulario legend {
        font-size: 0.6em;
        margin-bottom: 5px;
    }

    .botonFormulario, .seleccionarPelicula{
        font-size: 50%;
    }

    button.botonButaca {
        width: 9px;
        height: 5px;
        font-size: 3px;
        padding: 3px 5px;
        margin: auto;
        font-size: 1px;
        text-align: center;
    }
}

@media print{
    @page {
        size: landscape;
    }

    .ExitUserButton, .RegisterUserButton, .LogUserButton, .botonFormulario{
        display: none;
    }
    .seleccionarPelicula {
        visibility: hidden;
    }

    .infoTicket {
        display: grid; /* Usar CSS Grid */
        grid-template-columns: auto; /* Una sola columna */
        grid-template-rows: auto auto; /* Dos filas */
        grid-row-gap: 20px; /* Espacio entre filas */
        border: 4px solid #6382ae; /* Borde exterior más grueso */
        border-radius: 15px; /* Bordes redondeados */
        page-break-after: auto; /* Salto de página después de cada infoTicket */
    }

    .infoTicket .entrada {
        grid-row: 1; /* Primera fila */
        grid-column: 1; /* Única columna */
    }

    .infoTicket .descripcion {
        grid-row: 2; /* Segunda fila */
        grid-column: 1; /* Única columna */
    }

    header{
        display: none;

    }

    footer{
        display: none;
    }

    .Ticket-columna{
        display: none;
    }

    .adios{
        display: none;
    }
}

/*
ARCHIVO: index.php
         CSS para las peliculas del menu principal
*/
.pelisCartelera {
    border: 10px solid rgb(152, 189, 221); /* Borde sólido */
    margin: 10px; /* Márgenes alrededor del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición para el efecto de escalado */
}

.pelisCartelera img {
    width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre la imagen */
}

/* Efecto al pasar el ratón sobre la imagen */
.pelisCartelera:hover {
    transform: scale(1.05); /* Escalar la imagen al 105% en hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.texto{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*
ARCHIVO: consultapelicula.php
         css de las peliculas cuando estas visitando una concreta que has seleccionado de la cartelera

*/
 .pelicula{
	background-color: rgb(152, 189, 221); 
    color: #333; 
} 

.pelicula p{
    max-width: 70%;
    margin-left: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pelicula .first-word {
    font-weight: bold;
}

.pelicula img {
    padding-right: 5%;
}

.seleccionarPelicula{
    display: inline-block;
    margin: 20px;
    padding: 5px 20px;
    text-decoration: none;
	color: black;
    background-color: grey;
    border-radius: 100px;
	border: 2px solid rgba(128, 128, 128, 0.329);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.seleccionarPelicula:hover {
    filter: brightness(0.8);
}

/*
ARCHIVO: formulario.php
         css para la vista de los distintos formularios que hay en el proyecto, aun no se si va a haber mas de un tipo de formulario
*/

.Formulario{
  color: black;
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: center;
  border: 2px solid darkblue; /* Grosor y color del borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.Formulario div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.Formulario div label{
    width: 100px;
    text-align: left;
    margin-bottom: 10px;
}

.Formulario legend {
    font-weight: bold;
    font-size: 1.2em; /* Tamaño de fuente del legend */
    margin-bottom: 10px; /* Espaciado inferior del legend */
}

.Formulario input {
    border: 2px solid mediumblue; /* Grosor y color del borde */
    border-radius: 5px; /* Bordes redondeados */
}

.botonFormulario{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
	color: white;
    background-color: dodgerblue;
    border-radius: 100px;
	border: 2px solid mediumblue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonFormulario:hover {
    background-color: mediumblue;
}

.Entrar {
    width: 20%;
    padding: 10px;
    background-color: dodgerblue;
    color: black;
    border-radius: 5px;
    border-color: mediumblue;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .Entrar:hover {
    background-color: mediumblue;
  }

.adminButton{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: #333;
    background-color: rgba(141, 255, 112, 0.678);
    border: 2px solid rgba(141, 255, 112, 0.238);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.adminButton:hover {
    filter: brightness(0.8);
}



/*
ARCHIVO: seleccionDeButacas.php
         css para la vista de las butacas de una pelicula y una sesion concreta

*/
.botonButaca {
    margin: 5px;
    padding: 5px 10px;
    width: 60px;
    height: 30px;
    color: #333;
    border: 2px transparent black;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botonButaca:hover {
    filter: brightness(0.8);
}

/*
    ARCHIVOS: politicaDeCookies.php y politicaPrivacidad.php
*/
.ayuda {
    text-align: center;
    padding-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/*
    ARCHIVO: modificarSala.php
*/

/*no consigo que deje de aplicar el estilo css de la clase formulario, por eso se están pintando los botones como
  en seleccionar butacas (que es lo que queremos), además del recuadro azul que es del formulario*/

.crearSala {
    display: inline-block;
}

.crearSala button {
    padding: 5px 10px;
    width: 60px;
    height: 30px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

legend {
    font-weight: bold;
    font-size: larger;
}

.botonButaca[value="nulo"] {
    background-color: grey;
    opacity: 0.6;
    transition: none;
    cursor: auto;
}
.botonButaca[value="disponible"] {
    background-color: green;
}  
.botonButaca[value="seleccionada"] {
    background-color: orange;
}  
.botonButaca[value="ocupada"] {
    background-color: red;
    opacity: 0.6;
    transition: none;
    cursor: auto;
} 

.botonButaca[value="nulo"]:hover {
    filter: none;
}
.botonButaca[value="ocupada"]:hover {
    filter: none;
}

.listarAdmin {
    margin: 0 auto;
}

.listarAdmin th{
    font-size: 20px;
    padding: 10px;
}

.fotitoHistorial{
    border: 10px solid rgb(151, 210, 255); /* Borde sólido */
    margin: 10px; /* Márgenes alrededor del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición para el efecto de escalado */
}

.align-left {
    text-align: center;
    padding: 5px 70px;
}

.align-right {
    text-align: center;
    padding: 5px 80px;
}
.align-right p{
    font-size: 20px;
}
.align-right li{
    font-size: 20px;
}
.historial-compras {
    display: flex;
}

.barrita {
    border: 2px solid rgb(151, 210, 255); /* Grosor y color de la línea */
    margin: 20px 0; /* Margen superior e inferior para separación */
}

.titulito {
    font-style: oblique;
    border: 5px solid rgb(151, 210, 255); /* Grosor y color de la línea */
    padding: 5px 10px; /* Añade relleno alrededor del contenido */
}

/*AQUI EMPIEZAN LAS CSS PARA LA PAGINA DE LOS TICKETS*/
.Ticket {
    display: flex;
    justify-content: space-between;
}

.Ticket-columna {
    flex: 1;
}

.Ticket-columna h2, h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Ticket-columna p{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fotitoTicket{
    width: 250px;
    border: 10px solid rgb(69, 120, 159); /* Borde sólido */
    margin: 40px; /* Márgenes alrededor del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición para el efecto de escalado */
}

.infoTicket{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subliminal{
    text-align: left;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}

.infoTicket {
    background-color: rgb(160, 198, 233); /* Fondo gris claro */
    border: 2px solid #6382ae; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior para separar las entradas */
    display: flex; /* Usar flexbox para alinear los elementos */
    position: relative;
}

.infoTicket .entrada {
    flex: 1; /* Ocupar todo el espacio disponible */
}

.infoTicket .entrada h1 {
    color: #333; /* Color del texto */
    font-size: 50px; /* Tamaño de la fuente */
    display: inline-block; /* Permite que el texto ocupe todo el ancho disponible */
}

.infoTicket .linea-vertical {
    border-left: 2px solid #6382ae; /* Línea vertical gris */
    margin: 0 20px; /* Margen para separar visualmente la entrada del contenido */
}

.infoTicket .descripcion {
    flex: 3; /* Ocupar más espacio que la columna izquierda */
}

.infoTicket .descripcion p {
    color: #666; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea para una mejor legibilidad */
}

.infoTicket .descripcion .subliminal {
    
    font-size: 10px; /* Tamaño de la fuente */
    opacity: 0.7; /* Texto ligeramente translúcido */
}

.infoTicket:last-child {
    margin-bottom: 0; /* Elimina el margen inferior del último elemento */
}